<ion-view>
	<ion-content>
		<!-- ENCABEZADO-->
	<div class="bar bar-header bar-dark stilo">
		<button class="button button-royal icon-left ion-ios-arrow-back" ui-sref="principal"></button>
	  		<div class="h1 title">ROCKSTAR</div>
	  	<button class="button button-clear ion-edit"></button>
	</div>
	<br>
	<br>

	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	  </label>
	  <button class="button button-royal">
	    Cancel
	  </button>
	</div>

	<div class="list">
	    <a class="item item-avatar" ui-sref="">
	      <img src="../img/adam.jpg">
	      	<h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	    </a>

	    <a class="item item-avatar" ui-sref="">
	      <img src="../img/ben.png">
	      	<h2>Ben Gonzalez</h2>
	      <p>Hello friend for when the game?</p>
	    </a>

	    <a class="item item-avatar" ui-sref="">
	      <img src="../img/max.png">
	      	<h2>Max</h2>
	      <p>always she is like this, do not put importance on her ...</p>
	    </a>

	    <a class="item item-avatar" ui-sref="">
	      <img src="../img/mike.png">
	      	<h2>Mike J</h2>
	      <p>what does the girlfriend say hahahahaha</p>
	    </a>

	    <a class="item item-avatar" ui-sref="">
	      <img src="../img/perry.png">
	      	<h2>Perry</h2>
	      <p>that we will have dinner tonight brother?</p>
	    </a>
	</div>

	<!-- SELECCION DE ICONOS-->
	<div class="tabs tabs-icon-top">
		  <a class="tab-item"  ui-sref="principal">
		    <i class="icon ion-ios-home-outline"></i>
		    Home
		  </a>
		  <a class="tab-item" ui-sref="">
		    <i class="icon ion-ios-heart-outline"></i>
		    Favorites
		  </a>
		  <a class="tab-item" ui-sref="">
		    <i class="icon ion-ios-toggle-outline"></i>
		    Settings
		  </a>
		  <a class="tab-item" ui-sref="">
		    <i class="icon ion-ios-locked-outline"></i>
			Blocked users
		  </a>
	</div>

	</ion-content>
</ion-view>