<ion-view>
	<ion-content class="por1">
		<br>
			<h1 class="r1">RECUPERACION DE CONTRASEÑA</h1>
		<div class="row ">
			<div class="col img3">
				<img src="../img/contra.png">
				<h4 class="text2">ingrese su correo electronico en el siguiente cuadro y verifique en su cuenta personal el mensaje que se le envie despues de darle al boton de "enviar", si no le a llegado el mensaje vuelvalo a intentar.</h4>
				<form method="POST">
					<input type="text" name="e-mail" placeholder="Ingresa tu correo electronico" class="inp1">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="But">enviar</button>
			</div>
		</div>
	</ion-content>
</ion-view>